{% extends "base.html" %}

{% block title %}Add Seller{% endblock %}

{% block content %}
<style>
    .search ::placeholder {
        font-family: Roboto, Arial;
        font-size: 16px;
    }
    .button {
        background-color: rgb(239, 226, 226);
        color: rgb(2, 8, 14);
        border-style: solid;
        border-color: rgb(222, 212, 212);
        border-width: 1px;
        cursor: pointer;
        transition: background-color 0.15s, color 0.15s;
        border-radius: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .button:hover {
        background-color: rgb(11, 99, 206);
        color: white;
    }
    .button:active {
        opacity: 0.7;
    }
    .image_cart {
        height: 250px;
        width: 450px;
        border-radius: 75px;
        border: none;
    }
    .login-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
    }
    .login-form {
        height:150px;
        width: 300px; /* Adjust width as needed */
    }
</style>

<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div style="flex: 1;">
        <div class="login-container">
            <h3>Welcome, Admin!</h3>
            <ul>
                <li><a href="/add_delivery_boy">Add Delivery Boy</a></li>
                <li><a href="/add_worker">Add Worker</a></li>
                <li><a href="/add_special_offer">Add Special Offer</a></li>
                <li><a href="/remove_special_offer">Remove Special Offer</a></li>
                <li><a href="/add_seller">Add Seller</a></li>
                <li><a href="/remove_seller">Remove Seller</a></li>
                <li><a href="/view_all_orders">View All Orders</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}
