{% extends "base.html" %}

{% block title %}Add Seller{% endblock %}

{% block content %}
<style>
    .search ::placeholder {
        font-family: Roboto, Arial;
        font-size: 16px;
    }
    .button {
        background-color: rgb(239, 226, 226);
        color: rgb(2, 8, 14);
        border-style: solid;
        border-color: rgb(222, 212, 212);
        border-width: 1px;
        cursor: pointer;
        transition: background-color 0.15s, color 0.15s;
        border-radius: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .button:hover {
        background-color: rgb(11, 99, 206);
        color: white;
    }
    .button:active {
        opacity: 0.7;
    }
    .image_cart {
        height: 250px;
        width: 450px;
        border-radius: 75px;
        border: none;
    }
    .login-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
    }
    .login-form {
        height:150px;
        width: 300px; /* Adjust width as needed */
    }
</style>
<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div style="flex: 1;">
        <div class="login-container">
            <h3>User Registration</h3>
            <form action="/user_register" method="post">
                <label>First Name:</label>
                <input type="text" name="first_name" required><br>
                <label>Last Name:</label>
                <input type="text" name="last_name" required><br>
                <label>Password:</label>
                <input type="password" name="password" required><br>
                <label>Contact:</label>
                <input type="text" name="contact" required><br>
                <label>Login ID:</label>
                <input type="text" name="login_id" required><br>
                <input type="submit" value="Register"  class="button">
            </form>
        </div>
    </div>
</div>
{% endblock %}

