{% extends "base.html" %}

{% block title %}Add Seller{% endblock %}

{% block content %}
<style>
    .search ::placeholder {
        font-family: Roboto, Arial;
        font-size: 16px;
    }
    .button {
        background-color: rgb(239, 226, 226);
        color: rgb(2, 8, 14);
        border-style: solid;
        border-color: rgb(222, 212, 212);
        border-width: 1px;
        cursor: pointer;
        transition: background-color 0.15s, color 0.15s;
        border-radius: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .button:hover {
        background-color: rgb(11, 99, 206);
        color: white;
    }
    .button:active {
        opacity: 0.7;
    }
    .image_cart {
        height: 250px;
        width: 450px;
        border-radius: 75px;
        border: none;
    }
    .login-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
    }
    .login-form {
        height:150px;
        width: 300px; /* Adjust width as needed */
    }
</style>
<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div style="flex: 1;">
        <div class="login-container">
            <h1>All Orders</h1>
            <table>
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Order Time</th>
                        <th>Quantity</th>
                        <th>Shipping Address</th>
                        <th>payment_mode</th>
                        <th>Order Date</th>
                        <th>Amount</th>
                        <th>Cart_id</th>
                        <th>Ofc_id</th>
                        <th>DeliveryBoy_id</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{ order[0] }}</td>
                        <td>{{ order[1] }}</td>
                        <td>{{ order[2] }}</td>
                        <td>{{ order[3] }}</td>
                        <td>{{ order[4] }}</td>
                        <td>{{ order[5] }}</td>
                        <td>{{ order[6] }}</td>
                        <td>{{ order[7] }}</td>
                        <td>{{ order[8] }}</td>
                        <td>{{ order[9] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
